@model Tulam_2.Models.NhanVien
@{
    ViewBag.Title = "ChiTiet";
}

<h2>ChiTiet</h2>
<fieldset>
    <div>ma nhan vien: @Model.Manv</div>
    <div>ho ten @Model.Hoten</div>
    <div>mat khau @Model.Matkhau</div>
    <div>tuoi @Model.Tuoi</div>
    <div>dia chi @Model.Diachi</div>
    <div>luong @Model.Luong</div>
    <div>ten phong @Model.Phong.Tenphong</div>
</fieldset>
@Html.ActionLink("ve danh sach", "Index", "NhanVien")|
@Html.ActionLink("Sua", "Sua", "NhanVien",new {id=Model.Manv})

